.otwmobile {
    display: none !important;
}

@media only screen and (max-width: 600px) {
    .otw {
        display: none !important;
    }
    .otwmobile {
        font-size: 72px;
        font-weight: 600;
        display: block !important;
        background-image: url('./images/properbeach.jpg');
        background-size: cover;
    }
    .container {
        margin-bottom: 15px !important;
        margin-top: 0px  !important;
    }
    .anch {
        display: inline-block !important;
    }
    
}



.rooms {
    font-style: italic;
}

.faded {
    background: rgba(255, 255, 255, 0.45);
    border-radius: 5px;
    min-width: none;
    padding: 5px;
}

.img1 {
    width: 286px;
    height: 180px;
    
}

.figure1 {
    overflow: hidden;
    background-size: contain;
}

.card-body > p {
    margin-bottom: 0px;
}

.card-body > h5 {
    margin-bottom: 0px;
}

.addr {
    font-size: 18px;
    font-weight: 600;
}

.bx::hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.image-fade-in {
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}