.navbar {
    height: 155px;
    background-color: #95d6fa;
    margin: 0px;
    padding: 15px;
    
}

.ulist {
    list-style-type: none;
    margin-right:55px;
}



.around {
    background-color: whitesmoke;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    padding-bottom: 8px;
    text-decoration: none;
    color: inherit;
    border: solid 1px;
    border-color: black;
}

.around:hover {
    background-color: transparent;
    text-decoration: none;
    color: whitesmoke;
    border-color:whitesmoke;
}

.dd {
    text-decoration: none;
    color: inherit;
}

.dd:hover {
    text-decoration: none;
    color: inherit;
}

